<div class="wrap">
  <div class="header">
    <h4>{{'Assignment'|translate}}</h4>
  </div>
  <div class="content">
    <table class="tb-design">
      <colgroup>
        <col width='10%'>
        <col width='25%'>
        <col width='15%'>
        <col width='10%'>
        <col width='25%'>
        <col width='15%'>
      </colgroup>
      <thead>

      </thead>
      <tbody>
        <tr>
          <td class="bl0">
            <span class="tb-label">{{'First Name'|translate}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{'First Name'|translate}}">
          </td>
          <td class="bl0">
            <span class="tb-des">Ex: Beckham</span>
          </td>
          <td>
            <span class="tb-label">{{'Last Name'|translate}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{'Last Name'|translate}}">
          </td>
          <td class="bl0">
            <span class="tb-des">Ex: David</span>
          </td>
        </tr>
        <tr>
          <td class="bl0">
            <span class="tb-label"> {{'User Name'|translate}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{'User Name'|translate}}">
          </td>
          <td class="bl0">
            <span class="tb-des">Ex: DavidBeckham</span>
          </td>
          <td>
            <span class="tb-label"> {{'Password'|translate}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{'Password'|translate}}">
          </td>
          <td class="bl0">
            <span class="tb-des">Ex: Abc123!@#</span>
          </td>
        </tr>
        <tr>
          <td class="bl0">
            <span class="tb-label">{{'Email'|translate}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{'Email'|translate}}">
          </td>
          <td class="bl0">
            <span class="tb-des">Ex: abc@gmail.com</span>
          </td>
          <td>
            <span class="tb-label">{{'Role'|translate}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{'Role'|translate}}">
          </td>
          <td class="bl0">
            <span class="tb-des">Ex: admin/manager/user/</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
